@import url(fonts/myriadPro/stylesheet.css);
@import url(fonts/BigJohn/stylesheet.css);
@import url(fonts/OpenSans/stylesheet.css);

link *,
*:after,
*:before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

* {
    scroll-behavior: smooth;
}


body {
    margin: 0;


}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}



.container2 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: absolute;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(img/bacjGr.jpg)center no-repeat;
    background-size: cover;

}

.header {
    width: 100%;
    padding-top: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header_logo {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Big John PRO';

}

.nav {

    font-size: 16px;
    font-family: 'Open Sans';
}

.nav_link {
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
    margin: 0 15px;
    color: #fff;
    transition: color .2 s linear;
    position: relative;



}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;
    background-color: #fce38a;
    position: absolute;
    top: 100%;
    z-index: 2;
    transition: opacity .1s linear;
    border-radius: 30px;
}


.nav_link:hover {
    color: #fce38a;

}

.nav_link:hover:after {
    opacity: 1;


}


.intro_title {
    text-transform: uppercase;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 240;
    text-align: center;
    color: #fff;
    letter-spacing: 7px;
}

.intro_subtitle {
    font-family: 'Myriad Pro';
    font-size: 16px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 3px;
    word-wrap: break-word;
    top: 40px;
    margin-top: 30px;

}

.intro_inner {
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
    font-size: 16px;
}

.margin {
    margin-top: 400px;
    display: flex;
    justify-content: center;
}

/* Верхняя часть*/
.upPart {
    margin-left: 266px;
    display: flex;
}

.titleSec {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 110px;
    font-size: 20px;
    text-transform: uppercase;
    color: #333b46;
    letter-spacing: 3px;

}

.subtSec {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #81868e;
    margin-top: 45px;
    max-width: 470px;
    letter-spacing: 1px;


}

.imgIpad {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 90px;
    margin-left: 190px;
}

.BB {
    margin-top: 45px;
    font-family: Open Sans;
    font-size: 16px;
    color: #333b46;

}

.Butt {
    border: 1px solid #333b46;
    color: #333b46;
    border-radius: 30px;
    text-decoration: none;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 130px;
    display: block;
    text-align: center;
    white-space: nowrap;

}

/* Нижняя часть*/

.downPart {
    background-color: #f3f3f3;
}

.space {
    max-height: 80px;
    min-height: 80px;
    background-color: #f3f3f3;
}

.uptext {

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    color: #333b46;
    font-weight: bold;
}

.upsubtext {
    margin-top: 45px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #81868e;
    letter-spacing: 1px;
    text-align: center;
    max-width: 480px;
    line-height: 150%;
    font-weight: bold;
}

.margin_left_img {
    margin-left: 100px;
}

/* иконки*/

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.icons3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
}

.circle {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: #81868e;
    color: #81868e;

    margin-top: 57px;
    position: relative;
    margin-left: 27px;
    transition: .1s linear;
}


.circle:hover {
    color: #19bd9a;
    background-color: #19bd9a;
    opacity: 1;
}


.like {
    margin-top: 10px;
    font-size: 26px;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 25%;
    top: 10%;
}

.TextP2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 115px;
}

.titP2 {
    font-family: Open Sans;
    font-size: 20px;
    color: #464646;
    margin-left: 168px;
    font-weight: normal;
    margin-top: 62px;

}

.sizeText {
    max-width: 458px;
}

.SizetextR {
    max-width: 730px;
}

.lefttextP2 {
    margin-top: 40px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: bold;
    margin-left: 168px;
    color: #81868e;
    word-break: break-all;
    letter-spacing: 1px;
    line-height: 25px;
    hyphens: auto;
}

.grnC {
    color: #19bd9a;
    margin-left: auto;
    font-weight: 900;
}

.greC {
    color: #636971;
    margin-left: auto;
    font-weight: 900;
}

/*  3 страница */


.backdown {
    margin-top: 80px;
    background-color: fff;
}


.p3title {

    text-transform: uppercase;
    font-size: 20px;
    color: #333b46;
    font-family: Source Sans Pro;
    letter-spacing: 5px;
    text-shadow: 1px 0 1px #c9cbce;
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: 30px;
    white-space: nowrap;
}

.p3Stitle {
    font-family: Open Sans;
    font-size: 14px;
    color: #81868e;
    text-shadow: 1px 0 1px #cacccf;
    max-width: 530px;
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
    font-weight: normal;
}

/* слайдер */

.fourpage {
    margin-top: 60px;
}

.fourPimagea {
    display: flex;
    flex-direction: row;
}

.block_rel {
    position: relative;
}

.imageS {
    /* Сама картинка */
    max-width: 100%;
    max-height: 100%;
    z-index: 2;
    line-height: 0;
}

.imageSH {
    /* Сама картинка */
    max-width: 100%;
    max-height: 100%;
    z-index: 2;
    opacity: 1;
    line-height: 0;
}

.imageSH:hover {
    transition: .5s linear;
    opacity: 0;
}

.nameTextImg {
    /* текст поверх картинки */
    font-family: Source Sans Pro;
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    color: #fff;
    text-shadow: 1px 0 1px #6c6c6c;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
}

.imageSHov {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 0;
}

.interval {
    position: relative;
}

.width_block {
    max-width: 100%;
    max-height: 100%;
    line-height: 0;

}

.Fold_footer_t {
    font-family: Open Sans;
    font-size: 20px;
    text-align: center;
    top: 50%;
    position: absolute;
    color: #fff;
    left: 12%;
    transform: translate(0, -10px);



}

/* кнопка Sumbit Now */

.BB1 {

    font-family: Open Sans;
    font-size: 16px;
    color: #fff;
    top: 50%;
    right: 15%;
    position: absolute;
    font-weight: 400;
    text-align: center;
    transform: translate(0, -7px);

}

.Butt1 {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 30px;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;

    display: block;
    text-align: center;
    top: 50%;

}

/*Our service */
.service_title {
    font-size: 20px;
    letter-spacing: 7px;
    font-family: Source Sans Pro;
    color: #333b46;
    text-shadow: 1px 0 1px #c0c2c5;
    text-align: center;

}

.margin80 {
    margin-top: 80px;
}

.margin140 {
    margin-top: 140px;
}

.service_subtitle {
    font-family: Open Sans;
    font-size: 14px;
    margin: 0 auto 0;
    color: #81868e;
    text-shadow: 1px 0 1px #bec0c4;
    letter-spacing: 1px;
    margin-top: 40px;
    max-width: 500px;
    font-weight: 400;
    text-align: center;
    line-height: 190%;
}

.Graphic_design {
    display: flex;
    flex-direction: column;

}

.circle1 {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: #81868e;
    color: #81868e;
    position: relative;
    margin-top: 17px;
    margin-left: 168px;
    transition: .1s linear;
}

.Text_Graphic_design {
    max-width: 490px;
}

.circle1:hover {
    color: #19bd9a;
    background-color: #19bd9a;
    opacity: 1;
}



.left_and_right_GraphicDesign {
    display: flex;
    flex-direction: row;
    margin-top: 42px;
}

.titP22 {
    font-family: Open Sans;
    font-size: 20px;
    color: #464646;
    margin-left: 44px;
    margin-top: 13px;
    font-weight: normal;
    text-align: left;
}

.lefttextP22 {

    font-family: Open Sans;
    font-size: 16px;
    font-weight: 550;
    margin-left: 44px;
    margin-top: 35px;
    color: #898d95;
    word-break: break-all;
    letter-spacing: 1px;
    line-height: 23px;
    hyphens: auto;
    word-spacing: 3px;
    text-align: left;

}

/* Статистика*/
.statistic_circles {
    display: flex;
    flex-direction: row;
    margin: 15%;
}

.statistic {
    text-align: center;

}

.branding {
    margin-left: 13%;
    margin-top: 13%;
    left: 50%;
    top: 50%;
}

.circle_statistic {
    display: inline-block;
    width: 122px;
    height: 122px;
    position: relative;
    border-radius: 50%;

}

.circle_statistic1 {
    border-radius: 50%;
    display: block;
    content: "";
    background: #f3f3f3;
    position: absolute;

    height: 114px;
    width: 114px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}


.p1 {
    background-image:
        linear-gradient(-36deg, #19bd9a 50%, transparent 50%),
        linear-gradient(90deg, #19bd9a 50%, #047378 50%);
}

.p2 {
    background-image:
        linear-gradient(0deg, #19bd9a 50%, transparent 50%),
        linear-gradient(90deg, #19bd9a 50%, #047378 50%);
}

.p3 {
    background-image:
        linear-gradient(18deg, #19bd9a 50%, transparent 50%),
        linear-gradient(90deg, #19bd9a 50%, #047378 50%);
}

.title_circle_stat {
    font-size: 25px;
    color: #81868e;
    font-family: Open Sans;
    left: 50%;
    top: 050%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-weight: 700;
}

.percent {
    font-size: 14px;
    color: #81868e;
    font-family: Open Sans;
    font-weight: 600;

}

.name_circle {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #81868e;
    font-weight: 700;
    top: 110%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 0 1px #e4e4e6;
    letter-spacing: 2px;
    white-space: nowrap;
}




.team_title {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 6px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #f3f3f3;
    left: 117px;
    top: 76px;
    font-weight: 400;
    text-shadow: 1px 0 1px #777777;
    position: absolute;
}

.team_subtitle {
    font-family: Open Sans;
    font-size: 16px;
    color: #b2b3b3;
    letter-spacing: 1px;
    line-height: 1.5;
    position: absolute;
    left: 117px;
    top: 158px;
    max-width: 600px;
    font-weight: 400;
    word-break: break-all;
}

.SubSubTitle_team {
    font-family: Open Sans;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    left: 117px;
    position: absolute;
    top: 258px;
    color: #b2b3b3;
}

.SubSubTitle_team2 {
    font-family: Open Sans;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    left: 117px;
    position: absolute;
    top: 280px;
    color: #9e9f9f;
    font-weight: 600;
    text-shadow: 1px 0 1px #646565;

}

.green_color_text {
    color: #1aa88a;
    text-shadow: 1px 0 1px #1f3f38;
}




.logo {
    position: absolute;
    left: 870px;
    top: -40px;
    z-index: 1;
}

.logo_bg {
    position: absolute;
    left: 870px;
    top: -40px;
    opacity: 0;
    z-index: 10;
}

.logo_bg:hover {
    opacity: 1;
    transition: 0.4s linear;
}

.logo_text {
    text-transform: uppercase;
    font-family: 'Big John PRO';
    font-size: 30px;
    color: #fff;
    top: 70px;
    z-index: 2;
    position: absolute;
    left: 1005px;
}

/* Портфолио*/

.bg_grey {
    background-color: #f3f3f3;

}

.Portfolio_title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #333b46;
    text-shadow: 1px 0 1px #b3b6b9;
    text-align: center;
    letter-spacing: 7px;
    font-weight: 600;
}

.Portfolio_subtitle {
    font-family: Open Sans;
    font-size: 14px;
    margin: 0 auto 0;
    color: #81868e;
    letter-spacing: 2px;
    text-shadow: 1px 0 1px #d5d6d8;
    margin-top: 43px;
    max-width: 600px;
    text-align: center;
    line-height: 2;
}

.nav_Portfolio {
    margin-top: 85px;
    display: flex;
    justify-content: space-around;
    background-color: #f3f3f3;
}

.Atr_portf_link {
    font-family: Open Sans;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 500;
    text-shadow: 1px 0 1px #979797;
    position: absolute;
}

.nav_portf_link {
    display: inline-block;
    text-decoration: none;
    color: #464646;
    margin: 0 30px;
    position: relative;
}

.nav_portf_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    opacity: 0;
    background-color: #19bd9a;
    position: absolute;
    top: 100%;
    z-index: 2;
    transition: opacity .1s linear;
    border-radius: 30px;
    margin-top: 15px;
    box-shadow: 0px 1px 1px #8ddac9;
    max-width: 39px;


}



.nav_portf_link:hover:after {
    opacity: 1;
}

.Box_Galery {

    background-color: #f3f3f3;
    display: block;
    display: -webkit-box;
    justify-content: center;
}

.Galery {
    margin-top: 80px;
    column-count: 4;
    column-gap: 10px;
    column-width: 270px;
    margin-left: auto;
    margin-right: auto;
    width: 1110px;
    display: block;
    float: inline-start;
}

.box_img {
    max-width: 270px;
    border: none !important;
    line-height: 0;
    position: relative;
}

.box_img_X {
    max-width: 270px;
    border: none !important;
    line-height: 0;
    position: relative;
}

.image_grid2 {
    max-width: 270px;
    border: none !important;
    margin-top: 10px;
    z-index: 1;

}

.image_grid2H {
    max-width: 270px;
    border: none !important;
    margin-top: 10px;
    opacity: 1;
    z-index: 10;

}

.wrap:hover img {
    filter: brightness(0.7);
    transition: .4s;
}


.wrap:hover .opacity_block {
    opacity: 1;
    transition: .4s;
}



/* информация в черном блоке*/

.opacity_block {
    opacity: 0;

}

.title_in_card {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #19bd9a;
    text-shadow: 1px 0px 1px #274e40;
    position: absolute;
    left: 15%;
    top: 30%;
    opacity: 1;
    z-index: 15;
}

.title_line {
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    opacity: 1;
    background-color: #19bd9a;
    position: absolute;
    top: 35%;
    left: 15%;
    z-index: 15;
    transition: opacity .1s linear;
    border-radius: 23px;
}

.sub_title_in_card {
    position: absolute;
    font-family: Open Sans;
    font-size: 12px;
    color: #b2b3b3;
    text-shadow: 1px 0px 1px #b2b3b3;
    line-height: 1.5;
    left: 15%;
    top: 45%;
    font-weight: 500;
    z-index: 100;
}

.position_circle {
    position: absolute;
    left: 10%;
    top: 75%;
    display: flex;
    flex-direction: row;
    z-index: 100;
}

.circle1_portf {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: 1;
    background-color: #000;
    color: #81868e;
    position: relative;
    transition: .1s linear;
    z-index: 100;
    margin-left: 8px;

}

.circle1_portf:hover {
    color: #19bd9a;
    background-color: #19bd9a;
    opacity: 1;
    z-index: 100;
}


.like_portf {
    margin-top: 50%;
    margin-left: 25%;
    font-size: 14px;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 100;

}

.Portfolio_cta {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.title_cta {
    font-family: Open Sans;
    font-size: 20px;
    color: #fff;
    position: absolute;
    font-weight: 400;
    top: 33%;
    letter-spacing: 1px;
}

.space_100 {
    max-height: 100px;
    min-height: 100px;
    background-color: #f3f3f3;
}

.space_80 {
    max-height: 80px;
    min-height: 80px;
    background-color: #f3f3f3;
}

.space_130 {
    max-height: 130px;
    min-height: 130px;

}


/* кнопка Start Project */

.BB2 {
    font-family: Open Sans;
    font-size: 16px;
    color: #fff;
    top: 60%;
    position: absolute;
    font-weight: 400;
    text-align: center;

}

.Butt2 {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 36px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 130px;
    display: block;
    text-align: center;
    top: 60%;
    white-space: nowrap;

}


/* страница команды   */

.Title_team {
    margin-top: 80px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    letter-spacing: 7px;
    text-shadow: 1px 0px 1px #c9cbce;
    margin-bottom: 40px;
}

.SubTitle_team {
    font-family: Open Sans;
    font-size: 14px;
    color: #81868e;
    text-align: center;
    max-width: 600px;
    margin: 0 auto 0;
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 2;
}

.Flex_team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 128px;
    margin-right: 128px;
    margin-top: 66px;
    letter-spacing: 2;

}

.Social_bg {
    position: relative;
}

.social_service {
    opacity: 0;
    width: 270px;
    height: 348px;
    position: absolute;
    border: 8px solid #edebec;
    background-color: #fafafa;
}


.wrap2:hover .social_service {
    opacity: .5;
    transition: .4s;
}

.wrap2:hover .opacity_block {
    opacity: 1;
    transition: .4s;
}


.social_center {
    display: flex;
    left: 28%;
    top: 40%;
    position: absolute;


}

/* Иконка соц сети с кружком*/
.circle_social {
    color: #2b273e;
    border: 1px solid #2b273e;
    border-radius: 50%;
    z-index: 12;
    height: 30px;
    width: 30px;
    background: #2b273e;
    margin-right: 11px;
    position: relative;

}

.circle_social:hover {
    color: #3f729b;
    background-color: #3f729b;
    border-color: #3f729b;
    opacity: 1;
    z-index: 100;
}

.circle_social2 {
    color: #2b273e;
    border: 1px solid #2b273e;
    border-radius: 50%;
    z-index: 12;
    height: 30px;
    width: 30px;
    background: #2b273e;
    margin-right: 11px;
    position: relative;

}

.circle_social2:hover {
    color: #3b5998;
    background-color: #3b5998;
    border-color: #3b5998;
    opacity: 1;
    z-index: 100;
}

.circle_social3 {
    color: #2b273e;
    border: 1px solid #2b273e;
    border-radius: 50%;
    z-index: 12;
    height: 30px;
    width: 30px;
    background: #2b273e;
    margin-right: 11px;
    position: relative;

}

.circle_social3:hover {
    color: #26a6d1;
    background-color: #26a6d1;
    border-color: #26a6d1;
    opacity: 1;
    z-index: 100;
}

.social_icons {

    color: #cac9cf;
    position: absolute;
    display: inline-block;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

/* правая часть работника*/

.stats_team {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}


.Name_team {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-shadow: 1px 0px 1px #b5b5b5;
    margin-top: 0px;
}

.range_team {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 0px 1px #b5b5b5;
    font-style: italic;
    color: #81868e;
    font-weight: 600;
    margin-top: 5px;

}

.info_team {
    font-family: Open Sans;
    font-size: 14px;
    max-width: 400px;
    text-align: right;
    margin-top: 30px;
    color: #81868e;
    text-shadow: 1px 0px 1px #b5b5b5;
    font-weight: 500;
    line-height: 1.5;
}

.scale {
    content: "";
    display: block;
    width: 321px;
    height: 4px;
    background-color: #e1e4e9;
    position: relative;
    margin-top: 70px;
}

.scale2 {
    content: "";
    display: block;
    width: 321px;
    height: 4px;
    background-color: #e1e4e9;
    position: relative;
    margin-top: 55px;
}

.Scale_green {
    content: "";
    display: block;
    width: 257px;
    height: 4px;
    background-color: #19bd9a;
    position: absolute;


}

.Scale_green2 {
    content: "";
    display: block;
    width: 209px;
    height: 4px;
    background-color: #19bd9a;
    position: absolute;

}

.Scale_green3 {
    content: "";
    display: block;
    width: 241px;
    height: 4px;
    background-color: #19bd9a;
    position: absolute;

}

.name_info_team {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #81868e;
    letter-spacing: 3px;
    position: relative;
    bottom: -65px;

}

.name_info_team2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #81868e;
    letter-spacing: 3px;
    position: relative;
    bottom: -50px;
}

.branding_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.margin_scale {
    margin-top: -15px;
}


/* Слайдер*/
.slider_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;

}

.circle_slider {
    border: 1px solid #19bd9a;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

.circle_slider_bg {
    border: 1px solid #19bd9a;
    background-color: #19bd9a;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}


/*  The teem CTA баннер черный  */

.margin100 {
    margin-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image100 {
    max-width: 100%;
}

.Portfolio_title2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #333b46;
    text-shadow: 1px 0 1px #b3b6b9;
    text-align: center;
    letter-spacing: 6px;
    font-weight: 600;
}

/* цитата*/

.bg_white {
    background: #fff;
    height: 315px;
    width: 1200px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.row_copirate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 7%;
    margin-right: 7%;

}

.margin_img50 {
    margin-top: 50px;
}

.margin_text {
    margin-right: 80px;
    margin-left: 70px;
    min-width: 900px;
}

.Copirate_subtitle {
    font-family: Open Sans;
    font-size: 16px;
    color: #81868e;
    letter-spacing: 2px;
    line-height: 1.5;
    font-weight: 500;
    white-space: normal;
    text-shadow: 1px 0 1px #c9cbce;
}

.green_title {
    font-size: 16px;
    font-family: Open Sans;
    color: #19bd9a;
    font-weight: bold;
    margin-top: 25px;
}

.grey_subtitltle {
    font-size: 14px;
    font-family: Open Sans;
    color: #464646;
    text-shadow: 1px 0 1px #c9cbce;

}

.tittle_name {
    font-family: 'Myriad Pro';
    font-size: 16px;
    color: #b2b3b3;
    text-shadow: 1px 0 1px #d3d3d3;
    font-weight: 400;
    margin-left: 100px;
}


/* Блок контент, потенциальный слайдер*/
.blog_content1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.Pos_rel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.title_abs {
    position: absolute;
}


/*slider elements  */


/* panel A*/


.blog_margin_left {
    margin-left: 6em;
}

.Tittle_blog_a {
    font-family: Open Sans;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #e1e4e9;
}

.title_by_blog_a {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin-top: 1em;
    font-style: italic;
}

.green_color_text_a {
    color: #19bd9a;
    text-shadow: 1px 0 1px #1f3f38;
}

.undertittle_blog_a {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin-top: 1em;
    color: #464646;
    letter-spacing: 2px;
}

.Subtitle_blog_a {
    font-family: open sans;
    font-size: 14px;
    font-weight: 400;
    margin-top: 2em;
    color: #81868e;
    max-width: 600px;
    line-height: 1.5;
}

.Subtitle_blog_Und_a {
    font-family: open sans;
    font-size: 16px;
    font-weight: 400;
    margin-top: 2em;
    color: #81868e;
    max-width: 600px;
    line-height: 1.5;
}



.Tittle_blog {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 400;
    color: #fff;
    font-weight: 500;
    text-shadow: 1px 0 1px #c9cbce;
    position: absolute;

}

.Tittle_blog4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 400;
    color: #fff;
    font-weight: 500;
    text-shadow: 1px 0 1px #c9cbce;
    position: absolute;
    margin-top: 5em;
    margin-left: 0;
}

.subtitle_blog4_a {
    font-family: open sans;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10em;
    color: #b2b3b3;
    max-width: 450px;
    line-height: 2;

}

.subtittle_blog {
    font-family: Open Sans;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: normal;
    color: #b2b3b3;
    max-width: 500px;
    text-shadow: 1px 0 1px #c9cbce;
    margin-top: 5%;
    position: absolute;

}

.Tittle_blog2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    color: #fff;
    font-weight: 500;
    margin-left: 60%;
    text-shadow: 1px 0 1px #c9cbce;
    margin-top: 11%;
}

.subtittle_blog2 {
    font-family: Open Sans;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: normal;
    color: #b2b3b3;
    max-width: 500px;
    text-shadow: 1px 0 1px #c9cbce;
    margin-left: 60%;
    margin-top: 5%;
}

.margin_blog_pane_a {
    margin-top: 17em;
}


.slider_vertical_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    margin-left: 93%;
}

.circle_vertcal_slider_bg {
    height: 10px;
    width: 10px;
    color: #b2b3b3;
    background-color: #b2b3b3;
    border-radius: 50%;
    margin-top: 10px;

}

.circle_vertcal__slider {
    height: 10px;
    width: 10px;
    color: #b2b3b3;
    border-radius: 50%;
    border: 1px solid #b2b3b3;
    margin-top: 10px;

}

.position_center {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(100%, -50%);
}

/* Блок прайс*/

.position_title_price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title_price {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
    color: #000;
    text-shadow: 1px 0 1px #c0c2c5;



}

.subtittle_price {
    font-family: Open Sans;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: normal;
    color: #81868e;
    max-width: 500px;
    text-shadow: 1px 0 1px #9fa3a9;
    margin-top: 40px;
    text-align: center;
}

/* прайс листы*/

.flex_price_block {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.block_price {
    width: 233px;
    height: 310px;
    background-color: #fff;
    margin-left: 66px;
    transform: translate(0%, 00%);
    margin-right: 66px;
    position: relative;
}

.green_block {
    content: "";
    display: block;
    position: absolute;
    width: 233px;
    height: 68px;
    background-color: #19bd9a;
}

.title_price_name {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
}

.Price_text {
    font-family: 'Source Sans Pro Black', arial;
    font-size: 42px;
    color: #1fbba6;
    margin: auto;
}

.pos_price_div {
    width: 100%;
    height: 100%;
    top: 42px;
    left: 0;
    display: flex;
    position: absolute;
    margin-top: -42px;
}

.pos_price_div2 {
    width: 100%;
    height: 100%;
    top: 42px;
    left: 0;
    display: flex;
    position: absolute;

}

.Price_subtext {

    font-family: Open Sans;
    font-size: 20px;
    color: #81868e;
    text-shadow: 1px 0 1px #bcbec3;
    margin: auto;
    font-weight: 350;
}

/* hover price*/


.Wrap_price:hover .price_more {
    height: 100%;


}

.price_rel {
    position: relative;

}

.price_more {
    position: absolute;
    width: 233px;
    height: 310px;
    background-color: #fff;
    margin-left: 66px;
    transform: translate(0%, 00%);
    margin-right: 66px;
    z-index: 111;
    position: absolute;
    height: 0;
    overflow: hidden;
    transition: .8s ease;
}


.title_price_name_down {
    font-family: Open Sans, serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
}

.green_block_down {
    content: "";
    display: block;
    position: absolute;
    width: 233px;
    height: 68px;
    background-color: #19bd9a;
    bottom: 0px;

}

.Butt_price {
    content: "";
    display: block;
    position: absolute;
    width: 233px;
    height: 68px;
    background-color: #19bd9a;
    position: absolute;
    top: 0%;
    opacity: 0;
}

.price_inf_more {
    font-family: Open Sans;
    font-size: 14px;
    color: #81868e;
    text-shadow: 1px 0 1px #c4c7ca;
    margin-left: 7%;

    font-weight: 400;
    line-height: 2.3;

}

.price_inf_more_pos {
    margin-top: 9%;
}


/* subscribe */

.subscribe_rel {
    position: relative;
    display: flex;
    justify-content: center;
}

.title_subsc {
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 7px;
    text-shadow: 1px 0 1px #505050;
    color: #fff;
    position: absolute;
    font-weight: 400;
    margin-top: 60px;
}

.subtittle_subsc {
    font-family: Open Sans;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: normal;
    color: #81868e;
    max-width: 500px;
    text-shadow: 1px 0 1px #9fa3a9;
    margin-top: 140px;
    text-align: center;
    position: absolute;
}

.flex_window {
    position: absolute;
    margin-top: 18%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.window_email {
    content: "";
    width: 359px;
    height: 41px;
    border: 1px solid #b2b3b3;
    z-index: 11;
    color: #b2b3b3;

}


.butt_submit {
    content: "";
    width: 151px;
    height: 41px;
    border: solid 1px #19bd9a;
    background-color: #19bd9a;
    margin-left: 9px;
    color: #fff;
    font-family: open sans;
    font-size: 14px;
    letter-spacing: 2px;
    text-shadow: 1px 0 1px #c9cbce;
    font-weight: 400;

    cursor: pointer;
}

.butt_submit:active {
    background-color: #26a6d1;
    cursor: pointer;
    border: 1px solid #26a6d1;
}







.Butt_sub_ok:active {
    border: solid 1px #19bd9a;
    background-color: #19bd9a;
}

.Email_Address {
    width: 354px;
    height: 41px;
    background: transparent !important;
    border: 1px solid #81868e;
    border-radius: 0%;
    color: #fff;
    font-size: 16px;
    font-family: Tahoma;
    position: relative;

}

input::placeholder {
    font-family: Open Sans;
    font-size: 14px;
    color: #cfd3d4;
    text-shadow: 1px 0 1px #6d6f70;
    font-weight: 400;
    letter-spacing: 1px;
    opacity: 1;
    padding-left: 19px-;

}

.email_clicker:active {
    opacity: 0;
}

/*Контакты*/
.flex_contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.block_contact {
    width: 287px;
    height: 272px;
    background-color: #fff;
    display: block;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 60px;
    position: relative;
}

.tittle_contact_email {
    font-family: Open Sans;
    font-size: 16px;
    color: #464646;
    text-shadow: 1px 0px 1px #c1c1c1;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
}

.Subtitle_contact {
    font-family: open sans;
    font-size: 14px;
    text-transform: uppercase;
    color: #92969d;
    text-shadow: 1px 0px 1px #c4c7ca;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}

.icons_contact {
    position: absolute;
    color: #fff;
    font-size: 50px;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    margin-top: 25%;
}

/* forms contact*/
.contact_form_flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
}

.input_forms {
    width: 290px;
    height: 41px;
    background: transparent !important;
    border: 1px solid #d8dce0;
    border-radius: 0%;
    color: #000;
    font-size: 16px;
    font-family: open sans;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 29px;
    padding-left: 1.5em;
}

[type="email"]:focus {
    outline: none;
    border-color: #1aa88a;

}



.input_big_forms {
    width: 945px;
    height: 190px;
    background: transparent !important;
    border: 1px solid #d8dce0;
    border-radius: 0%;
    color: #000;
    font-size: 16px;
    font-family: open sans;
    margin-left: 39px;
    margin-right: 39px;
}

.contact_bigform_flex {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.but_forms {
    width: 949px;
    height: 53px;
    margin-top: 30px;
    color: #fff;
    background-color: #19bd9a;
    border: 1px solid #19bd9a;
    letter-spacing: 2px;
    z-index: 12312;
    cursor: pointer;
}

.but_forms:active {
    background-color: #26a6d1;
    cursor: pointer;
    border: 1px solid #26a6d1;
}

/* map*/
.bright_map {
    filter: brightness(10%);
    position: relative;
}


.title_map {
    color: white;
    font-family: Open Sans;
    font-size: 16px;
    position: absolute;
    font-weight: 400;
    letter-spacing: 1px;

    position: absolute;
}


.rel_map {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.circle_map {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #81868e;
    color: #81868e;
    position: relative;
    transition: .1s linear;
    left: 120px;
}


.circle_map:hover {
    color: #19bd9a;
    background-color: #19bd9a;
    opacity: 1;
}


.like_map {
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
    position: absolute;
    bottom: 0%;

}

.Bouncy_end {
    font-size: 25px;
    font-weight: 700;
    color: #323a45;
    text-transform: uppercase;
    font-family: 'Big John PRO';
    text-align: center;
}

.end_subtitle {
    font-family: Open Sans;
    font-size: 14px;
    color: #81868e;
    text-shadow: 1px 0px 1px #d5d6d8;
    text-align: center;
    margin-top: 10px;
    font-weight: 400;
}

.flex_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*color circle*/
.circle_footer1 {
    margin-top: 37px;
    color: #3b5998;
    border: 1px solid #3b5998;
    border-radius: 50%;
    z-index: 12;
    height: 26px;
    width: 26px;
    background: #3b5998;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
}

.circle_footer2 {
    margin-top: 37px;
    color: #26a6d1;
    border: 1px solid #26a6d1;
    border-radius: 50%;
    z-index: 12;
    height: 26px;
    width: 26px;
    background: #26a6d1;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
}

.circle_footer3 {
    margin-top: 37px;
    color: #0e76a8;
    border: 1px solid #0e76a8;
    border-radius: 50%;
    z-index: 12;
    height: 26px;
    width: 26px;
    background: #0e76a8;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
}

.circle_footer4 {
    margin-top: 37px;
    color: #3f729b;
    border: 1px solid #3f729b;
    border-radius: 50%;
    z-index: 12;
    height: 26px;
    width: 26px;
    background: #3f729b;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
}

.circle_footer5 {
    margin-top: 37px;
    color: #86c9ef;
    border: 1px solid #86c9ef;
    border-radius: 50%;
    z-index: 12;
    height: 26px;
    width: 26px;
    background: #86c9ef;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
}

.social_icons2 {
    font-size: 14px;
    color: #fff;
    position: absolute;
    display: inline-block;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    z-index: 123;
    text-decoration: none;
}

.white {
    color: #fff;
}

/*Слайдер*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 11px;
    line-height: 1.5em;
    text-align: justify;
    color: #aaa;
    background-color: #f5f5f5;
}

#container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#carousel,
#navigation {
    flex: initial;
    display: block;
}

#carousel {
    overflow: hidden;
    width: 1200px;
    height: 690px;
    background-color: transparent;
}

.p-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;

}

.p-wrapper2 {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;

}

#button_a:checked~#carousel .p-wrapper {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

#button_b:checked~#carousel .p-wrapper {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

#button_c:checked~#carousel .p-wrapper {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
}



[class^="panel_"] {

    position: relative;
    width: inherit;
    height: inherit;
    padding: 80px;

}

#navigation {
    margin-left: 24px;
}

[class^="label_"] {
    height: 10px;
    width: 10px;
    color: #b2b3b3;
    border-radius: 50%;
    border: 1px solid #b2b3b3;
    margin-top: 10px;
    display: block;
    cursor: pointer;
    line-height: 32px;
    text-align: center;
    transition: all 0.5s ease;
}

[class^="label_"]:hover {
    color: #444;
    background-color: #b2b3b3;
}





#button_a:checked~#navigation .label_a,
#button_b:checked~#navigation .label_b,
#button_c:checked~#navigation .label_c {
    cursor: default;
    color: #fff;
    background-color: #b2b3b3;
}



/* Carousel_new */


[class$="_l1"] {
    height: 10px;
    width: 10px;
    color: #19bd9a;
    border-radius: 50%;
    border: 1px solid #19bd9a;
    margin-left: 10px;
    display: block;
    cursor: pointer;
    line-height: 32px;
    text-align: center;
    transition: all 0.3s ease;
    margin-top: -5em;
    z-index: 12312;
}

[class$="_l1"]:hover {

    background-color: #19bd9a;
}

[class$="_p1"] {
    overflow: none;
    position: relative;
    width: inherit;
    height: inherit;
    padding: 80px;


}

.panel_overflow_right {}

#carousel_new,
#navigation_new {
    flex: initial;
    display: block;
}

#carousel_new {
    overflow: hidden;
    width: 1171px;
    height: 316px;
    background-color: transparent;


}

#button_a1:checked~#carousel_new .p-wrapper2 {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

#button_b1:checked~#carousel_new .p-wrapper2 {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

#button_c1:checked~#carousel_new .p-wrapper2 {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}

#button_a1:checked~#navigation_new .label_a_l1,
#button_b1:checked~#navigation_new .label_b_l1,
#button_c1:checked~#navigation_new .label_c_l1 {
    cursor: default;
    color: #fff;
    background-color: #b2b3b3;
}

.flex_butt_carous {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.flex_panel_right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}